/*
===============================================================================================================================
Put your custom CSS in this file.
===============================================================================================================================
*/

/* CSS to better visually match Docsify pages within Canvas LMS (uncomment to use) */
/*
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body .markdown-section {
    font-family: "Lato","Helvetica Neue",Arial,sans-serif;
    line-height: 1.4;
    font-size: 16px;
}

.markdown-section a:link, .markdown-section a:visited, .markdown-section a:active {
    text-decoration: none;
}

.markdown-section a:hover {
    text-decoration: underline;
}
*/

/* CSS to better visually match Docsify pages within Sakai LMS (uncomment to use) */
/*
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body .markdown-section {
    font-family: "Open Sans",sans-serif;
    line-height: 1.3;
    font-size: 14px;
}
*/

/* DOCSIFY THIS */

form .docsifythisurlfield{
    width: 500px;
}

.docsifythisurlfield{
    overflow: hidden;
    width: 100%;
    background-color : #white;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    color: black;
}

span .docsifythisurlfield{
    display: block;
    overflow: hidden;
}

.docsifythisurlbuilderbutton {
    white-space: normal;
    text-align: left;
}

.docsifythisurlbuildercheckbox{
    position: absolute;
    transform: scale(1.2);
    margin-top: 6px;
    margin-left: 2px;
}

input[type="checkbox"] {
    position: absolute;
}
input[type="checkbox"] ~ label {
    padding-left:1.2em;
    display:inline-block;
}

.markdown-section .docsifythisurlbuildersecondarybutton {
    cursor: pointer;
    color: white;
    height: auto;
    display: inline-block;
    margin-top: 4px;
    padding: 10px;
    line-height: 1.2rem;
    background-color: #6c6c6c;
    text-decoration: none;
    border-radius: .25rem;
}

.markdown-section .docsifythisurlbuilder {
  overflow: visible;
  margin: 2em 0;
  padding: 1.25em;
  border-width: 0;
  background: #f1f8fe;
}

@media (prefers-color-scheme: dark) {

  .docsifythisurlfield{
      background-color: #273338;
      color: white;
  }

  .markdown-section .docsifythisurlbuildersecondarybutton {
      color: black;
      background-color: #B6B6B6;
  }

  .markdown-section .docsifythisurlbuilder {
    background: #0d5b82;
  }

}
