/* https://google-webfonts-helper.herokuapp.com/fonts/source-sans-pro-v14-latin/source-sans-pro?subsets=latin */
/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-regular.svg#SourceSansPro') format('svg');
  /* Legacy iOS */
}

/* source-sans-pro-italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-italic.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-italic.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-italic.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-italic.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-italic.svg#SourceSansPro') format('svg');
  /* Legacy iOS */
}

/* source-sans-pro-600 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-600.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-600.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-600.svg#SourceSansPro') format('svg');
  /* Legacy iOS */
}

/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-700.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/source-sans-pro-v14-latin/source-sans-pro-v14-latin-700.svg#SourceSansPro') format('svg');
  /* Legacy iOS */
}

body {
  content-visibility: auto;
  contain-intrinsic-size: 1px 5000px;
}

.app-nav:not(:empty)~main .markdown-section {
  padding-top: 5.0rem;
}

.pagination-item, .pagination-item-title {
  opacity: .9 !important;
}

.pagination-item:not(:last-child) a .pagination-item-label, .pagination-item:not(:last-child) a .pagination-item-subtitle, .pagination-item:not(:last-child) a .pagination-item-title {
  opacity: .9 !important;
  transition: all .2s;
}

.markdown-section {
  padding: 1rem 40px;
}

.markdown-section blockquote {
  margin: 1.5em 0;
}

.markdown-section blockquote ul {
  list-style: none;
  margin-top: .8em;
}

.markdown-section blockquote ul li {
  margin: 2px 0;
}

.markdown-section blockquote ul li:before {
  position: absolute;
  content: '\2B29';
  margin-left: -18px;
}

.markdown-section .alert {
  overflow: visible;
  margin: 2em 0;
  padding: 1.5em;
  border-width: var(--blockquote-border-width, 0);
  border-style: var(--blockquote-border-style);
  border-color: var(--blockquote-border-color);
  border-radius: var(--blockquote-border-radius);
  background: var(--blockquote-background);
  color: var(--blockquote-color);
  font-family: var(--blockquote-font-family);
  font-size: var(--blockquote-font-size);
  font-style: var(--blockquote-font-style);
  font-weight: var(--blockquote-font-weight);
  quotes: "“""”""‘""’";
}

.markdown-section ul {
  list-style: square outside none;
}

.markdown-section .alert ul {
  list-style: none;
  margin-top: .8em;
}

.markdown-section .alert ul li {
  margin: 2px 0;
}

.markdown-section .alert ul li:before {
  position: absolute;
  content: '\2B29';
  margin-left: -18px;
}

.markdown-section .button {
  cursor: pointer;
  color: white;
  height: auto;
  display: inline-block;
  margin-top: 4px;
  padding: 10px;
  line-height: 1.2rem;
  background-color: var(--link-color);
  text-decoration: none;
  border-radius: .25rem;
}

.markdown-section a.button {
  cursor: pointer;
  color: white;
  text-decoration: none !important;
}

.markdown-section .badge {
  color: #fff;
  background-color: #6c757d;
  display: inline-block;
  padding: .25em .4em .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  margin-top: -0.4em;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  text-decoration: none;
}

.markdown-section .badge a {
  color: white;
  text-decoration: none !important;
}

.markdown-section #a, .markdown-section #b, .markdown-section #c, .markdown-section #d, .markdown-section #e, .markdown-section #f, .markdown-section #g, .markdown-section #h, .markdown-section #i, .markdown-section #j, .markdown-section #k, .markdown-section #l, .markdown-section #m, .markdown-section #n, .markdown-section #o, .markdown-section #p, .markdown-section #q, .markdown-section #r, .markdown-section #s, .markdown-section #t, .markdown-section #u, .markdown-section #v, .markdown-section #w, .markdown-section #x, .markdown-section #y, .markdown-section #z {
  width: 2em;
  color: white;
  font-weight: 600;
  margin-top: 1.00rem;
  padding-left: 0.5rem;
  background: #666666;
}

.markdown-section .accordion {
  margin-top: 1.05rem;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid #CCCCCC;
  border-radius: .15rem;
}

.markdown-section details {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid #CCCCCC;
}

.markdown-section summary {
  cursor: pointer;
  color: var(--link-color);
  padding: 0;

  h1, h2, h3 {
    margin: 0;
    display: inline-block;
  }
}

.markdown-section .fa-fw {
  text-align: left;
}

.markdown-section .video-container-4by3 {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.markdown-section .video-container-16by9 {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-container-16by9 iframe, .video-container-4by3 iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 93%;
}

.markdown-section .responsive-container iframe {
  max-width: 100%;
}

.markdown-section .banner-image {
  width: 100%;
  height: 125px;
  object-fit: cover;
  object-position: 50% 50%;
}

@media (min-width: 576px) {
  .markdown-section .banner-image {
    height: 250px;
  }
}

.markdown-section .banner-tall-image {
  width: 100%;
  height: 175px;
  object-fit: cover;
  object-position: 50% 50%;
}

@media (min-width: 576px) {
  .markdown-section .banner-tall-image {
    height: 350px;
  }
}

.markdown-section .column {
  float: left;
  padding-right: 1rem;
  width: 50%;
}

.markdown-section .row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width:800px) {
  .markdown-section .column {
    width: 100%;
  }
}

.markdown-section figure, .markdown-section p, .markdown-section ol, .markdown-section ul {
  margin: 1em 0em .5em 0em;
}

.markdown-section hr {
  margin: 1em 0;
}

.markdown-section h1 {
  line-height: 1.5rem;
}

.markdown-section h2 {
  line-height: 1.4rem;
}

.markdown-section h3 {
  line-height: 1.25rem;
}

.markdown-section h4 {
  line-height: 1.15rem;
}

.markdown-section h5 {
  line-height: 1.15rem;
}

.markdown-section h6 {
  line-height: 1.1rem;
}

body .app-nav {
  margin-right: -10px;
}

body .docsify-pagination-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  margin: 3em 0 1em;
  border-top: 0px solid rgba(0, 0, 0, .07);
}

.progress {
  background-color: var(--blockquote-border-color);
}

@media only screen and (max-width: 480px) {

   .markdown-section h1 {
      font-size: 1.35rem;
      line-height: 1.45rem;
   }

   .markdown-section h2 {
      font-size: 1.25rem;
      line-height: 1.35rem;
   }

   .markdown-section h3 {
      font-size: 1.2rem;
      line-height: 1.3rem;
   }

   .markdown-section h4 {
      font-size: 1.10rem;
      line-height: 1.15rem;
   }

   .markdown-section h5 {
      font-size: 1.05rem;
      line-height: 1.1rem;
   }

   .markdown-section h6 {
      font-size: 1rem;
      line-height: 1rem;
   }

}

@media (prefers-color-scheme: dark) {

  .markdown-section .button {
    color: #222222;
  }

  .markdown-section a.button {
    color: #222222;
  }

}

}
